.item {
  list-style: none;

  & > *+* {
    margin-top: 20px;
  }
}

.item + .item {
  margin-top: 20px;
}

.header {
  font-size: 18px;
  margin: 0;

  & > *+* {
    margin-left: 10px;
  }
}

.headerSlider {
  position: relative;
  display: inline-block;
}

.input {
  display: inline-block;
  vertical-align: middle;

  & > *+* {
    margin-left: 20px;
  }

  @media all and (max-width: 450px) {
    text-align: center;
    display: block;
  }
}

.saveButton {
  @media all and (max-width: 450px) {
    display: none;
  }
}

.inputSlider {
  height: 20px;
  top: -22px;
  position: absolute;
  left: 100%;
  width: 200px;

  @media all and (max-width: 450px) {
    width: 150px;
  }
}

.link {
  display: inline-block;
  background: #f2f2f2;
  padding: 4px 10px;
}
