.item {
  list-style: none;

  & > *+* {
    margin-top: 20px;
  }
}

.item + .item {
  margin-top: 20px;
}

.header {
  font-size: 18px;
  margin: 0;

  & > *+* {
    margin-left: 10px;
  }
}

.headerSlider {
  position: relative;
  display: inline-block;
}

.input {
  display: inline-block;
  vertical-align: middle;

  & > *+* {
    margin-left: 20px;
  }
}

.inputSlider {
  height: 20px;
  top: -22px;
  position: absolute;
  left: 100%;
  width: 200px;
}
