.field {
  flex: 3;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 350px;
  border: 1px solid #f2f2f2;

  & > * {
    background: #f2f2f2;
  }

  & > *:nth-child(even) {
    background: #fff;
  }
}

.cell {
  flex: 0 0 33.3%;
  padding-bottom: 33.3%;
}

.nought {
  &::before {
    content: 'o';
  }
}

.cross {
  &::before {
    content: '';
  }

  &::after {
    content: '';
  }
}
