.fieldWrapper {
  position: relative;
  flex: 3;
  max-width: 350px;
}

.field {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid #f2f2f2;
  cursor: pointer;

  & > * {
    background: #f2f2f2;
  }

  & > *:nth-child(even) {
    background: #fff;
  }
}


.cell {
  position: relative;
}

.nought {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border: 3px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.cross {
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 3px;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 3px;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.refreshIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.overlay {
  position: absolute;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #B2EBF2;
  opacity: 0.6;
}

.warning {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background: #fff;
  border: 1px solid whitesmoke;
  color: #B71C1C;
}

.winner {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background: #fff;
  border: 1px solid whitesmoke;
  color: #000;
}
