.field {
  flex: 3;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 350px;
  border: 1px solid #f2f2f2;

  & > * {
    background: #f2f2f2;
  }

  & > *:nth-child(even) {
    background: #fff;
  }
}

.cell {
  position: relative;
}

.nought {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border: 3px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}

.cross {
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 3px;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 3px;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
